body {
    background-color: #a1caf4;
}
.center {
    text-align: center;
}
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border-collapse: collapse;
}
th, td {
    background-color: #0278786a;
  }